* {
    padding: 0;
    margin: 0;
}

body{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.card{
    width: 70%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 5%;
    text-align: justify;
    border: 3px solid;
    border-image: linear-gradient(to bottom right,rgb(255, 198, 9), rgb(255, 64, 0)) 1;
    transform: scale(1);
    transition: 0.6s ease;  
    background-color: rgb(224, 224, 224);
    padding: 2%;
}

.card_imagem {
    width: 100%;
    height: 40%;
}

.card:hover{
    transform: scale(1.02);
    border-image: linear-gradient(to bottom right,  rgb(255, 64, 0), rgb(255, 165, 9)) 1;
}

.textos{
    text-align: left;
    width: 100%;
    color: rgb(69, 69, 69);
}

.numeracaocasos{
    color: rgb(0, 74, 82);
}

.textocasos{
    gap: 20px;
    justify-content: space-around;

}

.casos_acontecidos{
        padding-bottom: 0;
        margin-bottom: 0;
        height: 2100px;    
        background-image: linear-gradient(to bottom right, rgb(17, 18, 69), rgb(19, 13, 36), rgb(27, 7, 70));
    
}

.cardscasos{
    padding: 20;
    background-image: linear-gradient(to bottom right, rgb(7, 5, 14) 10%, rgb(13, 12, 23)30%,rgb(5, 5, 28) ) ;
    display: flex;
    justify-content: center;    
    height: 100%;
}

.cardsclicaveis{
    width: 400PX;
    height: 650px;
    overflow: hidden;
    text-align: center;
    background-color: white;
    border-radius: 1%;
    transform: scale(1);
    transition: 0.6s;
    margin: 20px;
    margin-top: 100px;
    position: relative;
}   

.cardtext{
    margin: 10% 10% 10% 10%;
    font-size:large;
}

.cardtext2{
    margin-top: 5%;
    font-weight: 200;
    font-size: medium;
}

.cardsclicaveis:hover{
    transform: scale(1.01);
}

.imagenscards{
    width: 100%;
    height: 50%;
}

.botãosaibamais{
    size: 30%;
    font-size: small;
    font-weight: 300;
    background: linear-gradient(to right, rgb(235, 106, 0) 30% , rgb(237, 174, 0));
    border-radius: 3px;
    color: rgb(255, 251, 231);
    cursor: pointer;
    margin-top: 10%;
    align-self: center;
    border: none;
    padding: 3% 10% 3% 10%;
    position: absolute;
    bottom: 10%;
    left: 125px;
    transition: background 0.1s ease-in-out;
}

.botãosaibamais:hover{
    background: linear-gradient(to right, rgb(255, 121, 12) 30% , rgb(255, 190, 11) );
}

.cards{
    height: 80%;
}

.botãovoltar{
    margin: 2% 0 2% 26.8%;
    padding: 0.5% 4% 0.5% 4%;
    background: linear-gradient(to right, rgb(235, 106, 0) 30% , rgb(237, 174, 0));
    color: beige;
    transform: scale(1);
    transition: 0.5;
    border-radius: 5px;
    font-weight: 400;
    font-size: medium;
    cursor: pointer;

}

.botãovoltar:hover{
    background: linear-gradient(to right, rgb(230, 123, 35) 30% , rgb(230, 187, 69));
    transform: scale(1.03);

}

.video{
    position: relative;
    top: 200px;
    left: 500px;
    height: 500px;
    aspect-ratio: 16/9;
}

.sectionvideo {
    position: relative;
    background-image: url(imagens/fundoazulcriado.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: 20%;
}

.sectionvideo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.sectionvideo > * {
    position: relative;
    z-index: 2;
}

.Conclusão{
    font-size: larger;
}

.textofinal{
    margin: 0 20% 30px 20%;
    text-align: justify left;
    color: rgb(209, 209, 209);
    padding-top: 5%;
    font-weight: 300;
}

.finalizaçao_explicativas{
    height: 1000px;
    background-image: linear-gradient(to bottom right, rgb(33, 24, 66) 10%, rgb(13, 12, 23)30%,rgb(5, 5, 28));
}

.rodape{
    height: 10%;
    background-image: linear-gradient(to bottom right, rgb(20, 20, 20), rgb(26, 26, 26), rgb(16, 16, 16));
}

.textfooter{
    padding-top: 2%;
    text-align: center;
    color: rgb(213, 213, 213);
    font-weight: 500;
}